@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

body {
    font-size: 16px;
}

header.home {
    width: 100%;
    height: 40vh;
    background: url('/img/bg-home.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

header.add-product {
    width: 100%;
    height: 40vh;
    background: url('/img/bg-add-product.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

header.catalog {
    width: 100%;
    height: 40vh;
    background: url('/img/bg-catalog.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

header.our-app {
    width: 100%;
    height: 40vh;
    background: url('/img/bg-our-app.jpg');
    background-position: 0% 60%;
    background-size: cover;
    background-attachment: scroll;
}

header.approve-list {
    background: url('/img/bg-approve.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

header.login,
header.register {
    z-index: 100000;
    width: 100%;
    height: 100vh;
    background: url('/img/bg-login.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

header.login nav .logo,
header.register nav .logo {
    z-index: 99999;
}

section.login-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: calc(100% - 58px);
    z-index: 9;
}

form.register {
    min-width: 400px;
}

form.login-box {
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

section.errors-box {
    width: 300px;
    margin-left: 20px;
    grid-row: 2;
    grid-column: 4;
    justify-content: center;
    align-items: center;
}

section.errors-box ul {
    list-style-type: none;
}

section.errors-box ul li {
    margin-bottom: 5px;
}

section.errors-box ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

section.login-section form.login-box,
section.errors-box {
    padding: 30px 40px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}

section.login-section form.login-box h3,
section.errors-box h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0px 20px 0px;
    text-transform: uppercase;
    color: #109137af;
}

section.errors-box h3 {
    color: #a32a14;
}

section.login-section form.login-box label {
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #109137af;
    margin: 15px 0px 10px 0px;
}

section.login-section form.login-box input[type="email"],
section.login-section form.login-box input[type="password"],
section.login-section form.login-box input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transform: translateY(-3px);
    font-size: 1em;
    border-bottom: 1px solid #888;
}

section.login-section form.login-box input[type="email"]:focus,
section.login-section form.login-box input[type="password"]:focus {
    border-bottom: 1px solid #262626;
}

section.login-section form.login-box label[for="remember"] {
    display: inline-block;
    margin-right: 5px;
}

section.login-section form.login-box button {
    display: block;
    font-size: 1.1em;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid #109137;
    text-transform: uppercase;
    color: #109137;
    cursor: pointer;
    transition: .6s background-color, .6s color;
}

section.login-section form.login-box.register button {
    margin-top: 15px;
}

section.login-section form.login-box button:hover,
section.login-section form.login-box button:active,
section.login-section form.login-box button:focus {
    background-color: #109137;
    color: #fff;
    outline: none;
}

section.login-section form.login-box a.remember,
section.login-section form.login-box a.new_account,
section.login-section form.login-box.register a.already {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    color: #109137;
    transition: .6s color;
}

section.login-section form.login-box a.new_account {
    margin-top: 5px;
}

section.login-section form.login-box a.remember:hover,
section.login-section form.login-box a.new_account:hover,
section.login-section form.login-box a.already:hover {
    color: #0e7e30;
    text-decoration: underline;
}

header.admin {
    width: 100%;
    height: 40vh;
}

header.admin section {
    width: 100%;
    height: calc(100% - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header.admin h2.header-title {
    color: #109137;
    display: block;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 20px;
}

article.activity-center {
    display: flex;
    width: 100%;
    height: 75vh;
    padding: 100px;
}

article.activity-center section.user-section {
    text-align: center;
    padding: 0 50px;
}

article.activity-center section.user-section img,
article.user-options img {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    object-fit: cover;
}

article.activity-center section.user-section h2 {
    margin-top: 5px;
    text-transform: uppercase;
    color: #109137;
}

article.activity-center section.user-section h3 {
    margin: 10px 0;
    color: #999;
}

article.activity-center section.user-section form textarea {
    width: 360px;
    height: 120px;
    padding: 10px 20px;
    font-size: 1em;
    resize: none;
}

article.activity-center section.user-section form textarea:focus {
    border: 1px solid #555;
}

article.activity-center section.user-section form input {
    display: block;
    margin: 10px auto;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #109137;
    text-transform: uppercase;
    color: #109137;
    cursor: pointer;
    transition: .6s background-color, .6s color;
}

article.activity-center section.user-section form input:hover {
    background-color: #109137;
    color: #fff;
}

article.activity-center .new-products-to-approve,
article.activity-center .null-products {
    padding: 0 50px;
    text-align: center;
}

article.activity-center .approvement-list {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

article.activity-center .new-products-to-approve h2,
article.activity-center .null-products h2 {
    text-transform: uppercase;
    color: #109137;
    text-align: left;
}

article.activity-center .single-product-outer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
}

article.activity-center .single-product-outer a {
    text-decoration: none;
    color: #262626;
}

article.activity-center .single-product-outer .single-product-inner {
    position: relative;
    background-color: #eee;
    padding: 10px 50px 30px 50px;
    text-align: center;
    transition: 0.6s box-shadow, 0.6s transform;
}

article.activity-center .single-product-outer .single-product-inner h3 {
    margin-top: 10px;
    text-transform: uppercase;
}

article.activity-center .single-product-outer .single-product-inner h4 {
    color: #666666;
    margin-top: 5px;
    font-size: 1em;
}

article.activity-center .single-product-outer .single-product-inner h5 {
    color: #aaa;
    margin-top: 10px;
    font-size: 1em;
}

article.activity-center .single-product-outer .single-product-inner h6 {
    color: #aaa;
    margin-top: 0px;
    font-size: .9em;
}

article.activity-center .single-product-outer .img-box {
    position: relative;
    width: 100%;
    height: 230px;
    object-fit: cover;
    z-index: 999;
    transition: 0.6s transform;
}

article.activity-center .single-product-outer .img-box img {
    width: inherit;
    height: inherit;
    z-index: 999;
    object-fit: cover;
}

article.activity-center .single-product-outer:hover .single-product-inner {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(16, 145, 55, 0.5);
    -moz-box-shadow: 0px 0px 15px 10px rgba(16, 145, 55, 0.5);
    box-shadow: 0px 0px 15px 10px rgba(16, 145, 55, 0.5);
    transform: scale(1.04);
}

article.activity-center .single-product-outer:hover .img-box {
    cursor: pointer;
    transform: scale(1.04);
}

article.activity-center a.showAll {
    display: inline-block;
    font-size: 1.3em;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #109137;
    text-transform: uppercase;
    color: #109137;
    cursor: pointer;
    transition: .6s background-color, .6s color;
    text-decoration: none;
}

article.activity-center a.showAll:hover {
    background-color: #109137;
    color: #fff;
}

article.activity-center div.emptyApprovements {
    color: #999;
    text-align: left;
}

article.activity-center div.emptyApprovements h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

article.product-approve {
    width: 100%;
    height: 90vh;
    padding: 150px 100px 100px 100px;
}

article.product-approve h2 {
    text-align: center;
    font-weight: 300;
    margin-top: 5px;
}

article.product-approve h2 span.title-product {
    color: #109137;
    font-weight: 600;
}

article.product-approve img {
    width: 10%;
    min-width: 100px;
}

section.operations {
    text-align: center;
    margin-top: 40px;
}

section.operations a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 10px;
    color: #FFF;
    transition: .6s background-color;
}

section.operations a.approve {
    margin-left: 0;
    background-color: #109137;
}

section.operations a.approve:hover {
    background-color: #0e7e30;
}

section.operations a.edit {
    background-color: #1DB2DB;
}

section.operations a.edit:hover {
    background-color: #1693b6;
}

section.operations a.delete {
    background-color: #D43519;
}

section.operations a.delete:hover {
    background-color: #a32a14;
}

section.operations a.back {
    background-color: #C1BE1A;
}

section.operations a.back:hover {
    background-color: #a3a116;
}

.toap {
    word-break: break-all;
}

article.products-to-approve .single-product-outer .single-product-inner h6 {
    margin-top: 5px;
    font-size: .9em;
    opacity: .5;
}

i.fa-arrow-circle-up {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 40px;
    font-size: 3.5em;
    color: #262626;
    transition: color .6s, opacity .6s;
}

i.fa-arrow-circle-up:hover {
    cursor: pointer;
    color: #109137;
}

article.empty-box {
    width: 100vw;
    height: 30vh;
    text-align: center;
    color: #aaa;
}

article.ShowMore {
    width: 100%;
    height: 5vh;
    text-align: center;
}

article.ShowMore a {
    text-decoration: none;
    margin-top: -20px;
    font-size: 1.1em;
    color: #FFF;
    background-color: #999;
    border: 0;
    padding: 10px 20px;
    transition: .6s background-color;
}

article.ShowMore a:hover,
article.ShowMore a:active,
article.ShowMore a:focus {
    outline: none;
    cursor: pointer;
    background-color: #10913798;
}

article.empty-box h2 {
    margin-top: 100px;
}

article.empty-box h3 {
    margin-top: 5px;
}

article.catalog-products {
    margin: 50px 0;
}

article.add-product-section {
    margin: 100px;
}

article.approvement {
    margin: 0;
    padding: 200px;
}

article.approvement h2 {
    text-align: center;
    padding: 0 40px;
    font-size: 2em;
    margin-bottom: 100px;
    text-transform: uppercase;
    color: #109137;
}

article.approvement select {
    margin-left: 10px;
    margin-right: 20px;
    outline: none;
    border-radius: .5em;
    background-color: #fff;
    font-size: 1em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
}

article.approvement select:hover {
    border-color: #0e7e30;
}

article.add-product-section form {
    text-align: center;
}

article.add-product-section form span.first-part {
    display: block;
    margin-bottom: 40px;
    position: relative;
}

article.add-product-section form label {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #109137af;
}

article.add-product-section form span.first-part input[type="text"] {
    margin-left: 10px;
    margin-right: 30px;
}

article.add-product-section form span input[type="text"] {
    border: 0;
    padding: 2px 10px;
    transform: translateY(-3px);
    font-size: 1em;
    border-bottom: 1px solid #888;
}

article.add-product-section form span input[name="name"] {
    width: 400px;
}

.error {
    border-bottom: 1px solid #a32a14!important;
}

article.add-product-section form span input[name="barcode"] {
    width: 150px;
}

article.add-product-section form span input[type="text"]:focus {
    border-bottom: 1px solid #262626;
}

article.add-product-section form span.first-part label[for="image"] {
    margin-right: 5px;
}

article.add-product-section form span.first-part input[type="file"] {
    transform: translateY(-2px);
}

article.add-product-section form span.second-part label {
    display: inline-block;
    transform: translateY(-107px);
}

article.add-product-section form span.second-part label[for="effects"] {
    margin-left: 30px;
    margin-right: 10px;
}

article.add-product-section form span.second-part label[for="components"] {
    margin-right: 10px;
}

article.add-product-section form span.second-part textarea {
    width: 360px;
    height: 120px;
    padding: 10px 20px;
    font-size: 1em;
    resize: none;
}

article.add-product-section form span.second-part textarea:focus {
    border: 1px solid #555;
}

article.add-product-section form span.third-part {
    margin-top: 30px;
    display: block;
}

article.add-product-section form span.third-part input {
    margin-left: 10px;
    width: 100px;
}

article.add-product-section form input[type="submit"] {
    display: block;
    margin: 40px auto;
    font-size: 1.3em;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #109137;
    text-transform: uppercase;
    color: #109137;
    cursor: pointer;
    transition: .6s background-color, .6s color;
}

article.add-product-section form input[type="submit"]:hover {
    background-color: #109137;
    color: #fff;
}

textarea,
input {
    outline: none;
}

article.add-success {
    padding: 100px;
    width: 100%;
    height: 50vh;
    text-align: center;
}

article.add-success h2 {
    margin-top: 50px;
    font-size: 3em;
    color: #109137;
    text-transform: uppercase;
}

article.add-success h3 {
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 5px;
}

article.add-success a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1em;
    background-color: #262626;
    color: #FFFF;
    transition: .6s background-color;
}

article.add-success a:hover,
article.add-success a:active,
article.add-success a:focus {
    background-color: #109137;
}

section.products-label {
    display: flex;
    margin: 0 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

section.products-label a:first-child {
    margin-left: 0;
}

section.products-label a {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
    color: #FFF;
    background-color: #999;
    padding: 10px 20px;
    transition: .6s background-color;
}

section.products-label a.active {
    background-color: #109137d5;
}

section.products-label a:hover {
    cursor: pointer;
    background-color: #10913798;
}

article.user-options {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article.user-options section.user-container {
    text-align: center;
    padding: 0 100px;
}

article.user-options img {
    margin-bottom: 15px;
}

article.user-options h2 span.title {
    color: #109137;
    font-weight: 600;
}

article.user-options h2 {
    font-weight: 400;
    margin-top: 5px;
}

article.user-options h3 {
    margin-top: 10px;
    color: #999;
}

article.user-options .operations {
    margin-top: 20px;
}

article.user-options.chpass h2 {
    text-align: center;
    padding: 0 40px;
    font-size: 2em;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #109137;
}

article.user-options .user-form {
    text-align: center;
    margin-top: 20px;
    padding: 10px 50px;
}

article.user-options .user-form label {
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #109137af;
    margin: 15px 0px 10px 0px;
}

article.user-options .user-form input[type="text"],
article.user-options .user-form input[type="password"],
article.user-options .user-form input[type="email"] {
    width: 90%;
    background-color: transparent;
    border: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transform: translateY(-3px);
    font-size: 1em;
    border-bottom: 1px solid #888;
}

article.user-options .user-form button {
    display: block;
    font-size: 1.1em;
    margin: 30px auto;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid #109137;
    text-transform: uppercase;
    color: #109137;
    cursor: pointer;
    transition: .6s background-color, .6s color;
}

article.user-options .user-form button:hover,
article.user-options .user-form button:active,
article.user-options .user-form button:focus {
    background-color: #109137;
    color: #fff;
    outline: none;
}

article.user-options ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0 50px;
}

article.user-options ul li {
    margin-bottom: 5px;
}

article.user-options ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 2px;
}

.logo a {
    color: #109137;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 16px 0px;
    font-size: .9em;
}

nav ul li:not(:first-child) {
    margin-left: 24px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-weight: 600;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(16, 145, 55);
    transition: width 1s;
}

nav ul li a.active::after {
    animation: activeLink ease-in 1s;
}

@keyframes activeLink {
    from {
        width: 0%;
    }
    to {
        width: 100%
    }
}

nav ul li a.active::after {
    width: 100%;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width 1s;
}

@media screen and (max-width: 864px) {
    .logo {
        padding: 0;
        margin-top: 8px;
    }
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
    }
    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
    .nav-wrapper ul li:nth-child(1) a {
        transition: 0.2s;
    }
    .nav-wrapper ul li:nth-child(2) a {
        transition: 0.3s;
    }
    .nav-wrapper ul li:nth-child(3) a {
        transition: 0.4s;
    }
    .nav-wrapper ul li:nth-child(4) a {
        transition: 0.5s;
    }
    .nav-wrapper ul li:not(first-child) {
        margin-left: 0;
    }
    .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }
    .nav-btn {
        position: fixed;
        background-color: #262626;
        right: 10px;
        top: 10px;
        font-size: 1.5em;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #FFF;
        border-radius: 2px;
        margin-left: 14px;
        transform: translateY(1px);
    }
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
    section.login-section {
        height: calc(100% - 44px);
    }
}

#nav:checked+.nav-btn {
    transform: rotate(45deg);
}

#nav:checked+.nav-btn i {
    background: #FFF;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

input#search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 0;
    color: #555;
    border-bottom: 2px solid #262626;
    padding: 3px 10px;
    font-size: 1.3em;
    transition: 1s border-bottom, 1s color;
}

input#search:focus {
    color: #262626;
    border-bottom: 2px solid #109137;
}

input#search::placeholder {
    color: #555;
}

article.list-products {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

article.list-products .single-product-outer {
    display: block;
    width: 25%;
    text-align: center;
    padding: 15px;
}

article.list-products .single-product-outer a {
    text-decoration: none;
    color: #262626;
}

article.list-products .single-product-outer .single-product-inner {
    position: relative;
    background-color: #eee;
    padding: 10px 50px 30px 50px;
    text-align: center;
    transition: 0.6s box-shadow, 0.6s transform;
}

article.list-products .single-product-outer .single-product-inner h3 {
    margin-top: 10px;
    text-transform: uppercase;
}

article.list-products .single-product-outer .single-product-inner h4 {
    color: #666666;
    margin-top: 5px;
    font-size: 1em;
}

article.list-products .single-product-outer .single-product-inner h5 {
    color: #aaa;
    margin-top: 10px;
    font-size: .9em;
}

article.list-products .single-product-outer .img-box {
    position: relative;
    width: 100%;
    height: 230px;
    object-fit: cover;
    z-index: 999;
    transition: 0.6s transform;
}

article.list-products .single-product-outer .img-box img {
    width: inherit;
    height: inherit;
    z-index: 999;
    object-fit: cover;
}

article.list-products .single-product-outer:hover .single-product-inner {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(16, 145, 55, 0.5);
    -moz-box-shadow: 0px 0px 15px 10px rgba(16, 145, 55, 0.5);
    box-shadow: 0px 0px 15px 10px rgba(16, 145, 55, 0.5);
    transform: scale(1.04);
}

article.list-products .single-product-outer:hover .img-box {
    cursor: pointer;
    transform: scale(1.04);
}

article.single-product-site {
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
}

article.single-product-site .left-part {
    text-align: center;
    width: 40vw;
    height: auto;
    float: left;
}

article.single-product-site .left-part img {
    max-width: 100%;
    max-height: 100%;
}

article.single-product-site .right-part {
    padding: 50px;
    float: left;
    width: 50vw;
}

article.single-product-site .right-part h1 {
    font-size: 2em;
    color: #109137;
    text-transform: uppercase;
    margin-bottom: 5px;
}

article.single-product-site .right-part h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.6em;
    text-transform: uppercase;
}

article.single-product-site .right-part h3 {
    color: #aaa;
    text-transform: uppercase;
}

article.single-product-site .right-part h3.barcode {
    font-size: 1.2em;
    margin-bottom: 20px;
}

article.single-product-site .right-part h3 .components {
    text-transform: lowercase;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 30vh;
    color: #fff;
    text-align: center;
    background-color: #262626;
}

footer a {
    text-decoration: none;
}

footer h3.title {
    display: flex;
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    align-items: center;
}

footer h3.title a {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #109137;
}

footer ul {
    grid-row: 2;
    grid-column: 2;
    list-style: none;
}

footer ul li {
    margin-top: 10px;
}

footer ul li a {
    margin-top: 5px;
    font-size: 1em;
    color: #FFF;
    transition: .6s color;
}

footer ul li a:hover {
    color: #109137;
}

footer .description {
    display: flex;
    grid-row: 2;
    grid-column: 3;
    font-size: 1em;
    padding: 5px 30px;
    color: #109137;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

footer .copyright {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    font-size: 1em;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1700px) {
    article.activity-center .approvement-list section:nth-child(6) {
        display: none;
    }
    article.activity-center .approvement-list section {
        width: 50%;
    }
}

@media (max-width: 1600px) {
    article.add-product-section form span.first-part .image-box {
        display: block;
        margin-top: 30px;
    }
}

@media (max-width: 1500px) {
    article.list-products .single-product-outer {
        width: 33.3%;
        padding: 15px;
    }
    article.activity-center {
        padding: 100px 80px;
    }
    article.activity-center .new-products-to-approve {
        padding: 0 20px;
    }
}

@media (max-width: 1400px) {
    article.activity-center {
        padding: 100px 40px;
    }
    article.activity-center .single-product-outer .single-product-inner {
        padding: 10px 30px 30px 30px;
    }
}

@media (max-width: 1320px) {
    article.add-product-section form span.second-part label {
        display: block;
        transform: translateY(0);
        margin: 10px 0px;
    }
    article.add-product-section form span.second-part label[for="effects"] {
        margin-top: 30px;
    }
}

@media (max-width: 1300px) {
    article.single-product-site {
        height: 70vh;
        padding: 100px 30px;
    }
    article.activity-center .new-products-to-approve {
        padding: 0;
    }
}

@media (max-width: 1250px) {
    article.add-product-section form span.first-part .barcode-box {
        display: block;
        margin-top: 30px;
    }
    article.activity-center.founded {
        flex-direction: column;
        height: 120vh;
    }
    article.activity-center.founded .new-products-to-approve {
        margin-top: 50px;
        padding: 0 100px;
    }
    article.activity-center.founded .new-products-to-approve h2 {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    article.list-products .single-product-outer {
        width: 50%;
    }
    article.activity-center.founded .null-products h2 {
        text-align: center!important;
        margin-top: 50px;
    }
}

@media (max-width: 1150px) {
    article.single-product-site {
        padding: 150px 20px;
    }
    article.single-product-site .left-part {
        margin-top: 20px;
        width: 30vw;
        padding: 20px;
    }
    article.single-product-site .right-part {
        padding: 50px 30px;
        margin-left: 50px;
    }
    article.single-product-site .right-part h1 {
        font-size: 1.8em;
    }
    article.single-product-site .right-part h2 {
        font-size: 1.4em;
    }
    article.single-product-site .right-part h3 {
        font-size: 1.1em;
    }
}

@media (max-width: 1040px) {
    article.add-product-section form span.first-part {
        margin-bottom: 30px;
    }
    article.add-product-section form span.first-part label[for="image"] {
        margin-top: 30px;
    }
    article.add-product-section form span.first-part input[type="text"] {
        text-align: center;
    }
    article.add-product-section form span.first-part input[type="file"] {
        margin-top: 10px;
    }
    article.add-product-section form span.first-part label {
        display: block;
        margin: 15px 0px;
    }
    article.activity-center .null-products {
        padding: 0 50px;
    }
}

@media (max-width: 1000px) {
    article.single-product-site .left-part {
        margin-top: 50px;
    }
    article.single-product-site .right-part h1 {
        font-size: 1.6em;
    }
    article.single-product-site .right-part h2 {
        font-size: 1.3em;
    }
    article.single-product-site .right-part h3,
    article.single-product-site .right-part h3.barcode {
        font-size: 1em;
    }
    article.activity-center.founded .new-products-to-approve {
        padding: 0 50px;
    }
}

@media (max-width: 900px) {
    article.single-product-site {
        padding: 120px 0px;
    }
    article.single-product-site .left-part {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    article.single-product-site .left-part img {
        max-width: 100%;
        min-height: 100%;
    }
    article.single-product-site .right-part {
        width: 100%;
        padding: 100px;
        margin-left: 0;
    }
    article.activity-center {
        padding: 100px 50px;
    }
    article.activity-center {
        flex-direction: column;
    }
    article.activity-center .null-products {
        margin-top: 50px;
    }
    article.activity-center .null-products h2,
    article.activity-center .null-products h3,
    article.activity-center .null-products h4 {
        text-align: center;
    }
    article.activity-center .single-product-outer {
        width: 100%;
    }
    article.activity-center.founded {
        padding: 100px 30px;
    }
    article.activity-center.founded .new-products-to-approve {
        padding: 0 30px;
    }
    form.login-box {
        min-width: 350px;
    }
}

@media (max-width: 786px) {
    article.empty-box {
        font-size: 12px;
    }
    article.list-products .single-product-outer {
        width: 100%;
    }
    footer .copyright {
        text-align: center;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    footer .description {
        display: none;
    }
    article.activity-center .approvement-list {
        flex-direction: column;
        padding: 0 100px;
    }
    article.activity-center .approvement-list section {
        width: 100%;
    }
    article.activity-center.founded .new-products-to-approve .single-product-outer {
        width: 100%;
    }
    article.activity-center.founded {
        height: 160vh;
    }
    section.login-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    form.login-box {
        display: grid;
        grid-row: 2;
        grid-column: 2;
    }
    section.errors-box {
        min-width: 350px;
        margin: 0;
        margin-top: 20px;
        display: grid;
        grid-row: 3;
        grid-column: 2;
    }
    header.admin section h2.header-title {
        font-size: 1.8em;
        padding: 0 50px;
    }
}

@media (max-width: 700px) {
    article.product-approve {
        font-size: 15px;
        padding: 200px 50px 50px 50px;
    }
    article.activity-center .approvement-list {
        padding: 0 50px;
    }
    article.user-options section.user-container {
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    article.add-product-section {
        margin: 100px 50px;
    }
    section.products-label {
        margin: 0 50px;
        font-size: .9em;
    }
    article.single-product-site {
        padding: 100px 0px;
    }
    article.single-product-site .right-part {
        width: 100%;
        padding: 70px;
    }
    article.add-product-section form span input[name="name"] {
        width: 300px;
    }
    article.activity-center {
        padding: 50px 30px;
    }
    article.activity-center section.user-section {
        padding: 0 30px;
    }
    article.user-options section.user-container {
        font-size: 14px;
    }
    article.activity-center .null-products {
        padding: 0 20px;
    }
    article.activity-center .approvement-list {
        flex-direction: column;
        padding: 0 10px;
    }
}

@media (max-width: 500px) {
    article.list-products .single-product-outer .single-product-inner {
        padding: 5px 15px 20px 15px;
    }
    article.add-product-section textarea {
        max-width: 90%;
    }
    article.add-product-section {
        margin: 70px 10px;
    }
    section.products-label {
        margin: 0 20px;
    }
    footer h3.title {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    footer {
        min-height: 300px;
    }
    #search {
        text-align: center;
        width: 70%;
    }
    article.single-product-site .left-part {
        height: auto;
    }
    article.single-product-site .right-part h1 {
        font-size: 1.3em;
    }
    article.single-product-site .right-part h2 {
        font-size: 1.1em;
    }
    article.single-product-site .right-part h3.barcode {
        margin-bottom: 10px;
    }
    article.product-approve {
        padding: 200px 30px 100px 30px;
        font-size: 14px;
    }
    article.product-approve h2 {
        text-align: left;
    }
    article.activity-center {
        font-size: 14px;
        padding: 50px 20px;
    }
    article.activity-center section.user-section {
        padding: 0 20px;
    }
    article.activity-center section.user-section form textarea {
        width: 80%;
    }
    article.activity-center .approvement-list {
        padding: 0;
    }
    article.activity-center.founded {
        padding: 100px 10px;
    }
    article.user-options {
        height: 100vh;
    }
}

@media (max-width: 450px) {
    article.single-product-site {
        padding: 100px 0px;
    }
    article.single-product-site .right-part {
        width: 100%;
        padding: 50px;
    }
}

@media (max-width: 450px) and (max-height: 850px) {
    article.product-approve {
        padding: 100px 30px 100px 30px;
        font-size: 14px;
    }
    article.activity-center {
        height: 100vh;
        padding: 40px 20px;
    }
    article.activity-center.founded {
        height: 210vh;
    }
    header.register,
    header.login {
        height: 110vh;
    }
}

@media (max-width: 400px) {
    article.single-product-site .right-part {
        padding: 50px 30px 70px 30px;
    }
    article.add-product-section form {
        font-size: 14px;
    }
    article.add-product-section form span input[name="name"] {
        width: 85%;
    }
    article.activity-center section.user-section form textarea {
        width: 90%;
    }
    article.activity-center.founded .new-products-to-approve {
        padding: 0 10px;
    }
    form.login-box,
    section.errors-box {
        min-width: 300px;
    }
    section.login-section .login-box {
        padding: 20px 0px!important;
    }
    section.errors-box {
        padding: 20px 40px!important;
    }
    article.user-options section.user-container {
        padding: 0 10px;
    }
    header.admin section h2.header-title {
        font-size: 1.5em;
        padding: 0 20px;
    }
}

@media (max-width: 400px) and (max-height: 820px) {
    article.product-approve {
        padding: 50px 30px 100px 30px;
        font-size: 13px;
    }
    article.activity-center {
        height: 90vh;
        padding: 40px 20px;
    }
    article.activity-center.founded {
        height: 190vh;
    }
}

@media (max-width: 400px) and (max-height: 700px) {
    article.activity-center.founded {
        height: 240vh;
    }
    article.activity-center {
        height: 110vh;
    }
    header.register,
    header.login {
        height: 130vh;
    }
}

@media (max-width: 350px) {
    article.product-approve {
        font-size: 13px;
        padding: 150px 20px 50px 30px;
    }
    section.login-section {
        font-size: 14px;
    }
    form.login-box,
    section.errors-box {
        min-width: 270px;
        max-width: 280px;
    }
}

@media (max-width: 350px) and (max-height: 800px) {
    article.product-approve {
        height: 110vh;
        padding: 30px 30px 30px 30px;
        font-size: 13px;
    }
    section.login-section {
        margin-top: 25px;
    }
    section.login-section .login-box {
        padding: 20px 30px!important;
    }
    article.activity-center {
        height: 130vh;
    }
    article.activity-center.founded {
        height: 290vh;
    }
    header.register,
    header.login {
        height: 130vh;
    }
}

@media (max-width: 300px) and (max-height: 800px) {
    section.login-section {
        min-width: 280px;
        padding: 150px 0px;
    }
    section.login-section .login-box {
        padding: 10px 0px!important;
    }
    form.login-box,
    section.errors-box {
        min-width: 250px;
        max-width: 270px;
    }
    header.register,
    header.login {
        height: 140vh;
    }
}
